@charset "utf-8"
@import "~bulma/sass/utilities/_all";

$navbar-background-color: transparent
$navbar-item-color: $white
$navbar-item-hover-color: $white
$navbar-item-hover-background-color: none
$tabs-link-active-color: #209cee   
$tabs-link-active-border-bottom-color: #209cee

$tabs-link-hover-border-bottom-color: #209cee
$tabs-link-hover-color: #209cee
.dropdown-content

  padding-bottom: 0rem !important
  padding-top: 0rem !important

.label
    font-weight: 400 !important

input 
    font-weight: 400 !important

span 
    font-weight: 400 !important

button
    font-weight: 400 !important
    

a 
    font-weight: 400 !important
b
   font-weight: 400 !important

$tabs-border-bottom-width: 2px;
$menu-item-active-background-color: $success
$tabs-link-color: #209cee
$tabs-link-hover-border-bottom-color: #209cee
$tabs-link-hover-color: #209cee
$tabs-link-active-border-bottom-color: #209cee
$tabs-link-active-color: #209cee


$mypurple: #9733ee
$newlink: #209cee
$colors: ("mypurple": ($mypurple, $white),"white": ($white, $black), "black": ($black, $white), "light": ($light, $light-invert), "dark": ($dark, $dark-invert), "primary": ($primary, $primary-invert), "link": ($newlink, $link-invert), "info": ($info, $info-invert), "success": ($success, $success-invert), "warning": ($warning, $warning-invert), "danger": ($danger, $danger-invert))
// 

$desktop: 768px;
// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";





