@charset "utf-8"
@import "~bulma/sass/utilities/_all";

$navbar-background-color: transparent
$navbar-item-color: $white
$navbar-item-hover-color: $white
$navbar-item-hover-background-color: none
$tabs-link-active-color: rgba(52, 152, 219,1.0)
$tabs-link-active-border-bottom-color: rgba(52, 152, 219,1.0)

$tabs-link-hover-border-bottom-color: rgba(41, 128, 185,1.0)
$tabs-link-hover-color: rgba(41, 128, 185,1.0)


// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";





